HNLink      = #174F82
HNBlue      = #85BEE6
HNPink      = #E2007A
HNRed       = #D73E3A // Zpravy
HNBrown     = #A1826C // Byznys
HNLightPink = #C283B5 // Life
HNViolet    = #A077CE // Art
HNMaroon    = #B51339 // Tech
HNGreen     = #A4C400 // Sport
HNOrange    = #EE7000 // Dialog
HNYellow    = #F57E20 // Future

PartyCSSD = #f54200
PartySSO  = #005340
PartyCPS  = #565656
PartyTOP  = #ae2d9f
PartyHV   = #a8cbfc
PartyODS  = #005091
PartyKDU  = #ce8dc4
PartyS    = #30cfe1
PartyZ    = #76ce29
PartySPOZ = #FB9A99
PartyUPD  = #ffd91f
PartyDSSS = #8e5400
PartyANO  = #009ee0
PartyKSCM = #ce0000
PartySZ   = #489422
PartyLEV  = #ED1C24

scaleQualitativeMedium = #7FC97F #BEAED4 #FDC086 #386CB0 #BF5B17 #F0027F
