&
    position absolute
    top 0px
    left 0px
    form
        background black
        background rgba(0,0,0,0.8)
        position absolute
        padding-left 90px
        width (@width - 90px)
        top 0px
        left (@width * -1.3)
        transition left 0.8s
        padding-bottom 8px
        &.displayed
            left 0px
        .pair
            float left
            width 157px
            margin-top 12px
            padding-bottom 4px
            margin-left 320px
            margin-right 4px
            label
                display none
                color white
                font-size 0.7em
                padding-left 3px
        input[type=submit]
            margin-top 14px
        .button.cancel
            position absolute
            top 14px
            left 8px
            span
                transform rotate(45deg)
            &:hover
                color #aaa
                span
                    border-color #aaa
            &:active
                color #666
                border-color #666
                span
                    border-color #888

