@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    #content
        width 650px
        .selector
            margin 0px
            background #ccc
            float left
            width 100%
            list-style-type none
            padding 0px
            li
                float left
                padding 6px 0px
                width (650 / 8 - 1)px
                text-align center
                border-left 1px solid #444
                &:first-child
                    border-left 0px
                &.active
                    background #888
                &:hover
                    cursor pointer
                    background #aaa
                &:active
                    background #888

        .wordCloud
            width 650px
            height 650px
            .ods
            &.ods span
            &.ods text
                color PartyODS
                fill PartyODS
            .ano
            &.ano span
            &.ano text
                color PartyANO
                fill PartyANO
            .top
            &.top span
            &.top text
                color PartyTOP
                fill PartyTOP
            .kscm
            &.kscm span
            &.kscm text
                color PartyKSCM
                fill PartyKSCM
            .cssd
            &.cssd span
            &.cssd text
                color PartyCSSD
                fill PartyCSSD
            .spoz
            &.spoz span
            &.spoz text
                color PartySPOZ
                fill PartySPOZ
            .sz
            &.sz span
            &.sz text
                color PartySZ
                fill PartySZ
            .kdu
            &.kdu span
            &.kdu text
                color PartyKDU
                fill PartyKDU
        .form
            position absolute
            top 40px
            left 0px
            width @width
            height 50px
            overflow hidden
            form
                position absolute
                width 100%
                left 130%
                transition left 0.8s
                &.displayed
                    left 0%
