@import colors
@import prefixes
@import tooltip
body
    margin 0px
    font-family arial, sans-serif
    #content
        width 650px
        position relative
        .button
            float left
            color white
            em
                font-size 0.72em
                font-style normal
                padding-left 5px
            span
                float left
                display block
                border 1px solid white
                border-radius 50%
                text-align center
                width 19px
                height 19px
            &:hover
                cursor pointer
                color #ccc
                span
                    border-color #ccc
            &:active
                cursor pointer
                color #aaa
                border-color #aaa
                span
                    border-color #aaa

        .selector
            @import selector

        .wordCloud
            width 650px
            height 650px
            position absolute
            top 90px
            span:hover
            text:hover
                cursor pointer
                opacity 0.8
            span:active
            text:active
                opacity 0.9

            .ods
            &.ods span
            &.ods text
                color PartyODS
                fill PartyODS
            .ano
            &.ano span
            &.ano text
                color PartyANO
                fill PartyANO
            .top
            &.top span
            &.top text
                color PartyTOP
                fill PartyTOP
            .kscm
            &.kscm span
            &.kscm text
                color PartyKSCM
                fill PartyKSCM
            .cssd
            &.cssd span
            &.cssd text
                color PartyCSSD
                fill PartyCSSD
            .spoz
            &.spoz span
            &.spoz text
                color PartySPOZ
                fill PartySPOZ
            .sz
            &.sz span
            &.sz text
                color PartySZ
                fill PartySZ
            .kdu
            &.kdu span
            &.kdu text
                color PartyKDU
                fill PartyKDU
            &.all
            &.voted
                text:hover
                text:active
                span:hover
                span:active
                    cursor default
                    opacity 1

        .form
            @import form
        .button.help
            position absolute
            right 0px
            bottom -15px
            background black
            padding 5px 8px 5px 6px
            border-radius 9px
            background rgba(0,0,0,0.8)
            &:hover
                cursor help

