&
    margin 0px
    float left
    width 100%
    list-style-type none
    padding 0px
    position relative
    z-index 299
    li
        position relative
        float left
        padding 0px
        padding-bottom 8px
        width (650 / 8 - 1)px
        text-align center
        font-size 0.72em
        font-weight bold
        background #ccc
        border-left 1px solid white
        border-bottom 1px solid #f0f0f0
        color #777
        .arrow
            display block
            position absolute
            bottom 0px
            transition bottom 0.4s
            left (@width / 2 - 10)
            width 0px
            height 0px
            border-style solid
            border-width 10px 10px 0 10px
            border-color #ccc transparent transparent transparent
        &:first-child
            border-left 0px
        &.active
            color black
            background #a6a6a6
            border-bottom-color #d2d2d2
            .arrow
                bottom -10px
                border-top-color @background
        &:hover
            color black
            cursor pointer
            background #aaa
            .arrow
                border-top-color @background
        .logo
            width 71px
            height 58px
            margin-left 4px
            margin-top 2px
            background url('./img/loga_grid.png')
        &
            @import loga

        &:active
            background #999
            .arrow
                border-top-color @background


        &.active
            img.off
                display none
            img.on
                display block

