&
    margin 0px
    background #ccc
    float left
    width 100%
    list-style-type none
    padding 0px
    li
        float left
        padding 6px 0px
        width (650 / 8 - 1)px
        text-align center
        border-left 1px solid #444
        &:first-child
            border-left 0px
        &.active
            background #888
        &:hover
            cursor pointer
            background #aaa
        &:active
            background #888
