&
    margin 0px
    background #ccc
    float left
    width 100%
    list-style-type none
    padding 0px
    li
        position relative
        float left
        padding 0px
        padding-bottom 8px
        width (650 / 8 - 1)px
        text-align center
        font-size 0.72em
        font-weight bold
        border-left 1px solid white
        border-bottom 1px solid #f0f0f0
        color #777
        &:first-child
            border-left 0px
        &.active
            color black
            background #a6a6a6
            border-bottom-color #d2d2d2
        &:hover
            color black
            cursor pointer
            background #aaa
        &:active
            background #999
        .arrow
            display none
        img.on
            display none
        img.off
            display block
            opacity 0.7
        img
            margin-left 4px
            margin-bottom 4px
        &:hover
        &:active
            img.off
                opacity 1
        &.active
            img.off
                display none
            img.on
                display block
            .arrow
                display block
                position absolute
                bottom -10px
                left (@width / 2 - 10)
                width 0px
                height 0px
                border-style solid
                border-width 10px 10px 0 10px
                border-color #a6a6a6 transparent transparent transparent

