.tooltip
    z-index 50
    position absolute
    border 1px solid black
    border-radius 3px
    max-width 270px
    background-color white
    padding 5px 10px
    margin-top -20px
    margin-left -12px
    box-shadow #444 0px 0px 5px
    p
        margin-top 1em
    p:first-child
        margin-top 0.4em
